*~
\#*#
*/typestubs/*
.#*
.DS_Store
*.a
*.d
*.o
*.so
*.gz
*.gcno
*.gcda
*.gcov
*.fluid
*.pyc
*.swp
*.log
*.bbl
*.blg
*.aux
*.json
*.dylib
install_info.py
/dist
/build
/legion
/install*
/_skbuild
config.mk
/docs/legate/core/build
/docs/legate/core/source/api/generated
*.egg-info
.cache
.coverage
.vscode
_cmake_test_compile
!cmake/versions.json
legate.core.code-workspace
*.prof
.legate-test-last-failed
out/
