*~
\#*#
*/typestubs/*
.#*
.DS_Store
*.a
*.d
*.o
*.so
*.gz
*.gcno
*.gcda
*.gcov
*.fluid
*.pyc
*.swp
*.log
*.bbl
*.blg
*.aux
*.json
*.dylib
legate/core/install_info.py
/build
/legion
/install*
config.mk
/docs/legate/core/build
*.egg-info
