on:
  workflow_call:
    inputs:
      device:
        type: string
        required: true
      build-runner:
        type: string
        required: true
      platform:
        type: string
        required: true
       ucx-config:
        type: string
        required: true
       ucx-string:
        type: string
        required: true


jobs:
  build:
    if: ${{ github.repository_owner == 'nv-legate' }}
    uses:
      ./.github/workflows/gh-build.yml
    with:
      build-target: ${{ inputs.device }}
      repos-name: ${{ github.event.repository.name }}
      runs-on: ${{ inputs.build-runner }}
      sha: ${{ github.sha }}
      build-type: ci
      use-container: ${{ inputs.platform == 'linux' }}
      ucx-config: ${{ inputs.ucx-config }}
      ucx-string: ${{ inputs.ucx-string }}

  test:
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Pytest Unit Tests
            test-scope: unit
            runner: linux-amd64-gpu-v100-latest-1
            enabled: ${{ inputs.platform == 'linux' }}

          - name: Pytest Unit Tests (OS X)
            test-scope: unit
            runner: macos-latest
            enabled: ${{ inputs.platform == 'osx' }}

          - name: Pytest Unit Tests
            test-scope: unit
            runner: linux-amd64-2gpu
            enabled: ${{ inputs.platform == 'linux' }}

          - name: mypy
            test-scope: mypy
            runner: linux-amd64-gpu-v100-latest-1
            enabled: ${{ inputs.platform == 'linux' }}

          - name: mypy (OS X)
            test-scope: mypy
            runner: macos-latest
            enabled: ${{ inputs.platform == 'osx' }}

    name: ${{ matrix.name }}
    if: github.repository_owner == 'nv-legate'
    uses:
      ./.github/workflows/gh-test.yml
    with:
      build-target: ${{ inputs.device }}
      repos-name: ${{ github.event.repository.name }}
      runs-on: ${{ matrix.runner }}
      sha: ${{ github.sha }}
      test-scope: ${{ matrix.test-scope }}
      use-container: ${{ inputs.platform == 'linux' }}
      enabled: ${{ matrix.enabled }}
