on:
  workflow_call:
    inputs:
      device:
        type: string
        required: true
      build-runner:
        type: string
        required: true
      platform:
        type: string
        required: true
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Pytest Unit Tests
            test-scope: unit
            runner: linux-amd64-gpu-v100-latest-1
            enabled: ${{ inputs.platform == 'linux' && inputs.device == 'gpu' }}
            ucx-config: no_ucx

          - name: Pytest Unit Tests
            test-scope: unit
            runner: linux-amd64-gpu-v100-latest-1
            enabled: ${{ inputs.platform == 'linux' && inputs.device == 'gpu' }}
            ucx-config: ucx

          - name: Pytest Unit Tests (OS X)
            test-scope: unit
            runner: macos-latest
            enabled: ${{ inputs.platform == 'osx' }}
            ucx-config: no_ucx

          - name: Pytest Unit Tests
            test-scope: unit
            runner: linux-amd64-2gpu
            enabled: ${{ inputs.platform == 'linux' && inputs.device == 'gpu' }}
            ucx-config: no_ucx

          - name: Pytest Unit Tests
            test-scope: unit
            runner: linux-amd64-2gpu
            enabled: ${{ inputs.platform == 'linux' && inputs.device == 'gpu' }}
            ucx-config: ucx

          - name: Pytest Unit Tests
            test-scope: unit
            runner: linux-amd64-cpu4
            enabled: ${{ inputs.platform == 'linux' && inputs.device == 'cpu' }}
            ucx-config: no_ucx

          - name: Pytest Unit Tests
            test-scope: unit
            runner: linux-amd64-cpu4
            enabled: ${{ inputs.platform == 'linux' && inputs.device == 'cpu' }}
            ucx-config: ucx

          - name: mypy
            test-scope: mypy
            runner: linux-amd64-cpu4
            enabled: ${{ inputs.platform == 'linux' && inputs.device == 'cpu' }}
            ucx-config: no_ucx

          - name: mypy
            test-scope: mypy
            runner: linux-amd64-cpu4
            enabled: ${{ inputs.platform == 'linux' && inputs.device == 'cpu' }}
            ucx-config: ucx

          - name: mypy (OS X)
            test-scope: mypy
            runner: macos-latest
            enabled: ${{ inputs.platform == 'osx' }}
            ucx-config: no_ucx

    name: ${{ matrix.name }}
    if: github.repository_owner == 'nv-legate'
    uses:
      ./.github/workflows/gh-test.yml
    with:
      build-target: ${{ inputs.device }}
      repos-name: ${{ github.event.repository.name }}
      runs-on: ${{ matrix.runner }}
      sha: ${{ github.sha }}
      test-scope: ${{ matrix.test-scope }}
      use-container: ${{ inputs.platform == 'linux' }}
      enabled: ${{ matrix.enabled }}
      ucx-config: ${{ matrix.ucx-config }}
      ucx-string: ${{ (matrix.ucx-config == 'ucx' && '-ucx') || '' }}