name: Build legate.core on GH

on:
  workflow_call:
    inputs:
      build-target:
        required: true
        type: string
        description: One of CPU / GPU
      repos-name:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      sha:
        required: true
        type: string
        description: A unique identifier for labeling the images / artifacts
      build-type:
        required: true
        type: string
        description: One of ci / release

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  BASE_IMAGE: rapidsai/devcontainers:23.06-cpp-mambaforge-ubuntu22.04
  IMAGE_NAME: ${{ inputs.repos-name }}-${{ inputs.build-target }}
  USE_CUDA: ${{ (inputs.build-target == 'cpu' && 'OFF') || 'ON' }}
  PUSH_IMAGE: ${{ inputs.build-type == 'ci' && 'true' || 'false'}}

jobs:
  build:
    name: build-${{ inputs.build-target }}-sub-workflow

    permissions:
      id-token: write # This is required for configure-aws-credentials
      contents: read  # This is required for actions/checkout
      packages: write # This is required to push docker image to ghcr.io

    runs-on: ${{ inputs.runs-on }}

    steps:
      - name: Checkout ${{ inputs.repos-name }} (= this repo)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - if: github.repository_owner == 'nv-legate'
        name: Get AWS credentials for sccache bucket
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: us-east-2
          role-duration-seconds: 28800 # 8 hours
          role-to-assume: arn:aws:iam::279114543810:role/gha-oidc-nv-legate

      - name: Docker system prune
        run: |
          docker version
          docker system prune --all --force

      - name: Build docker image
        run: |
          IMAGE_TAG=${{ env.IMAGE_NAME }}:${{ inputs.sha }}

          chmod +x continuous_integration/build-docker-image
          continuous_integration/build-docker-image \
            --base-image "$BASE_IMAGE" \
            --image-tag "$IMAGE_TAG" \
            --source-dir . \
            --build-type "${{ inputs.build-type }}"

      - name: Dump docker history of image before upload
        run: |
          IMAGE_TAG=${{ env.IMAGE_NAME }}:${{ inputs.sha }}
          docker history $IMAGE_TAG

      - if: env.PUSH_IMAGE == 'true'
        name: Log in to container image registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - if: env.PUSH_IMAGE == 'true'
        name: Push image
        run: |
          IMAGE_TAG=${{ env.IMAGE_NAME }}:${{ inputs.sha }}

          IMAGE_ID=ghcr.io/${{ github.repository_owner }}

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          IMAGE_ID=$IMAGE_ID/$IMAGE_TAG

          docker tag $IMAGE_TAG $IMAGE_ID
          docker push $IMAGE_ID

      - name: Copy artifacts back to the host
        run: |
          IMAGE_TAG=${{ env.IMAGE_NAME }}:${{ inputs.sha }}
          mkdir -p artifacts
          docker run  -v "$(pwd)/artifacts:/home/coder/.artifacts" --rm -t $IMAGE_TAG copy-artifacts ${{ inputs.build-type }}

      - name: Display structure of workdir
        run: ls -R

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: "${{ inputs.repos-name }}-${{ inputs.build-target }}-${{ inputs.sha }}"
          path: artifacts
